 <!-- QR-CODE Generator -->

 <div class=" container " >
 <div class="body" fxLayout="row wrap">
   <form ngForm  action="AddUser" method="post">
    <mat-card class="card mat-elevation-z4">
    
      <mat-card-header class="header-margin-left">
        <mat-card-title>
          <h2><b> QR Code Generator </b></h2>
          </mat-card-title>
      </mat-card-header>
      
      <mat-card-content  >

        
        <div class="row">
          
          <div class="col-md-6 col-sm-12">
            
             <label for="firstName">First Name</label>
             <input id="firstName" name="firstName" placeholder="Amlan" [(ngModel)]="firstName"/> 
            
          </div>
        

          <div class="col-md-6 col-sm-12">
            
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" placeholder="Mishra" [(ngModel)]="lastName"/>
          
          </div>

       </div>
     


       <div class="row">
         <div class="col-md-6 col-sm-10">
            <label for="companyName">Company Name</label>
            <input id="companyName" name="companyName" placeholder="Nike" [(ngModel)]="companyName"/>
          </div>

          <div class="col-md-6 col-sm-10" >
            <label for="address">Address</label>
            <input id="address" name="address" [(ngModel)]="address"/>
          </div>
      </div>

      <div class="row">

        <div class="col-md-6 col-sm-10">
          <label for="email">Email</label>
          <input id="email" name="email" placeholder="amlan@gmail.com"[(ngModel)]="email"/>
       </div>

        <div class="col-md-6 col-sm-10">
          <label for="mobile">Phone Number</label>
          <input id="mobile" name="mobile" placeholder="111 222 3333" [(ngModel)]="mobile"/> 
        </div>

    </div>

    <div class="row">

      <div class="col-md-6 col-sm-12">
        <label for="size">Size</label>
        <input id="size" name="size" [(ngModel)]="size"/>
      </div>

    </div>
 
    <div class="generate  ">
        <button type="button" class="btn btn-secondary"(click)="generate()">Generate</button>
    </div>

    <div>
     
      <h3>RESULT</h3>
    <div class="container">
     
        <qr-code [value]="vCardData" [size]="size" >
        </qr-code>
      </div>

     
    </div>
  </mat-card-content>
 
  </mat-card>
    </form> 
  </div>
</div>




























